/* Reset some default styles */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Create a background gradient */
body {
    background: linear-gradient(to bottom, #3494E6, #EC6EAD);
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Style the container */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

/* Style the bot emoji */
.bot-emoji {
    font-size: 72px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #0099FF;
    /* Change bot color */
}

/* Style the header */
.container h1 {
    font-size: 28px;
    /* Increase header font size */
    margin-bottom: 20px;
    background: linear-gradient(to right, #0099FF, #4CAF50);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Style the password box */
.password-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#password {
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    border: 2px solid #4CAF50;
    padding: 10px;
    border-radius: 5px;
    transition: border-color 0.3s;
}

#password:focus {
    border-color: #45a049;
}

#generate {
    background: linear-gradient(to right, #0099FF, #4CAF50);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s;
    margin-top: 10px;
    transition: transform 0.3s;
}

#generate:hover {
    background: linear-gradient(to right, #4CAF50, #0099FF);
    transform: scale(1.1);
}

/* Style the footer */
.footer {
    margin-top: 20px;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Additional CSS styles */
/* Add more CSS as needed to achieve your desired design */